body{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: black;
  background: url("hotel-g319b12fcc_1920.jpg") no-repeat;
  background-size: cover;
}
*{
  box-sizing: border-box;
}
nav{
  font-size: 10px;
  text-align: left;
  background-color: white;
  margin: 50px;
  padding: 10px;
  opacity: 0.6;
  border-radius: 5px;
}
nav>span{
  color: red;
  font-weight: bold;
  font-size: 20px;
  font-weight: 300;
}
#pan{
  color: red;
  font-stretch: 100px;
  font-size: 20px;
}
a{ text-decoration: none;
  color: black;
}
button{
  font-size: 25px;
  background-color: transparent;
  border-bottom: transparent;
  border-style: hidden;
}
h1{
  text-align: center
}
.body{
  background-color: white;
  opacity: 0.8;
  margin: 55px;
  padding: 55px;
  border: 25px solid black;

}
.float>p{
  width: 50%;
  background: white;
  padding: 5%;
  float: left;
  border:15px solid black;
}
.float{
  clear: rigth;
}

#p3{
}
#p4{

}
